body {
    margin: 0;
    padding: 0;
    background-color: #e8bcb9;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e8bcb9;
    background-color: #1d1a39;
    font-size: 30px;
    letter-spacing: 5px;
    min-height: 70px;
    width: 100%;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.td-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 3px;
}

.shape {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu {
    border: solid 1px black;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

.menu select {
    width: 100%;
}

.menu button {
    width: 100%;
}

.menu datalist {
    width: 100%;
}

.svg {
    width: 100%;
    height: 600px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}

.svg svg {
    width: 100%;
    height: 600px;
}